@font-face {
    font-family: 'RF Rufo';
    src: url('../fonts/RFRufo-Black.eot');
    src: url('../fonts/RFRufo-Black.eot') format('embedded-opentype'),
    url('../fonts/RFRufo-Black.woff') format('woff'),
    url('../fonts/RFRufo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'RF Rufo';
    src: url('../fonts/RFRufo-ThinItalic.eot');
    src: url('../fonts/RF Rufo Thin Italic'), local('RFRufo-ThinItalic'),
        url('../fonts/RFRufo-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RFRufo-ThinItalic.woff2') format('woff2'),
        url('../fonts/RFRufo-ThinItalic.woff') format('woff'),
        url('../fonts/RFRufo-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
